# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
geoprocessing/test.md
*.docx
projects/ghl-aggregation-webinar/ghl-aggregation-cache/make-repeatable_b3e6fed20cc1ef5693fddd2d2d050cba.RData
*.rdx
projects/ghl-aggregation-webinar/ghl-aggregation-cache/install-packages_b0fc82bbcf37ba61d3fcb6cfc813979a.RData
*.rdb
projects/ghl-aggregation-webinar/ghl-aggregation-cache/use-nasis-data_f1f2b989ba8197cbb45c5d72c60bdb4e.RData
projects/ghl-aggregation-webinar/ghl-aggregation.md
projects/stephen/madison_prez-figure/unnamed-chunk-1-1.png
projects/stephen/madison_prez.md
